@import "fonts/stylesheet.css";
@import "bootstrap.min.css";
@import "auth/auth.css";
@import "layout/layout.css";
@import "global.css";
@import "elements/index.css";
@import "pages/index.css";
@import "admin/index.css";

:root {
    /*Цвета*/

    /*Основные цвета*/
    --appMainColor: #492e20; /*Основной цвет приложения*/
    --mainTextColor: #201708; /*Цвет основного текста*/
    --borderColor: #4d4035; /*Цвет бордюра*/

    /*Акцентные цвета*/
    --mainAccentColor: #1688a2; /*Цвет акцентного текста*/
    --errorTextColor: #d90f2f; /*Цвет сообщения об ошибках*/

    /*Цвета бекграунда*/
    --backgroundColor: #faf7f2; /*Цвет заднего фона*/
    --backgroundCardColor: #e7e1db; /*Цвет бэкграунда карточки*/

     /*Кнопки*/
    --buttonEnabledColor: var(--appMainColor); /*Цвет активной кнопки*/
    --buttonDisabledColor: #faf7f2; /*Цвет неактивной кнопки*/
    --buttonTextColor: var(--backgroundColor); /*Цвет текста кнопки*/

    /*Типографика*/
    --mainFontFamily: Verona, Arial, sans-serif;
    --navigateFontFamily: "Cormorant Infant", Arial, sans-serif;

    /*Ширина экрана*/
    --win-mobile: 486px;
    --win-tablet: 924px;
    --win-laptop: 1024px;
    --win-large: 1440px;
}

