.footer__text {
    margin: 0;
    padding: 0;
    align-self: center;
    color: var(--textColorMenuSidebar);
    font-family: var(--navigateFontFamily), Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4rem;
    text-align: left;
    text-indent: 0;
}
