.header {
    box-sizing: border-box;
    margin: 0;
    padding: .3rem 1rem;
    background-color: var(--appMainColor);
    display: grid;
    grid-template: max-content / max-content 1fr max-content;
}

.header__logo {
    grid-column: 1/2;
    width: 70px;
    height: auto;
}

.header__user {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header__user-pic {
    margin: 0;
    padding: 0;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.header__user-name {
    margin: 0;
    padding: 0;
    font-family: var(--navigateFontFamily), Arial, sans-serif;
    color: var(--backgroundColor);
    align-self: center;
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-indent: 0;
    text-align: left;
}

.header__user-menu {
    box-sizing: border-box;
    border: 1px solid var(--borderColor);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.header__user-menu-divider {
    border: solid 1px var(--borderColor);
}

.header__user-menu-item {
    font-family: var(--mainFontFamily), Arial, sans-serif;
    color: var(--appMainColor);
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    text-align: left;
    text-indent: 0;
    justify-content: left;
}

.header__user-menu-item_bold {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 700;
}

.header__link {
    text-decoration: none;
    color: var(--backgroundColor);
    font-family: var(--navigateFontFamily), Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.header__link:hover {
    color: var(--backgroundColor);
    opacity: .5;
}

.header__link_active {
    color: var(--mainAccentColor);
}


