.sidebar__navigate {
    margin: 0;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
}

.sidebar__item {
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--appMainColor);
    font-family: var(--navigateFontFamily), Arial, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar__item:hover {
    color: var(--mainAccentColor);
}

.sidebar__item_active {
    color: var(--backgroundCardColor);
    background-color: var(--appMainColor);
}

/*@media screen and (max-width: 1024px) {*/
/*    .sidebar__navigate {*/
/*        display: none;*/
/*    }*/
/*    !*width: calc(90% + (70 - 90) * ((100vw - 700px) / (1920 - 700)));*!*/
/*}*/
